@model IEnumerable<UniApi.Models.Produto>

@{
}

<h1>Lista de Produtos</h1>

<br />
<a class=" btn btn-primary" asp-area="" asp-controller="Records" asp-action="Index">  Voltar  </a>


<br />
<br />
<br />

<table class="table bg-light">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Categoria ID</th>
        <th>Categoria</th>
    </tr>
    @foreach (var i in @Model)
    {
        <tr>
            <td>@i.ProdutoId</td>
            <td>@i.ProdutoNome</td>
            <td>@i.Descricao</td>
            <td>@i.CategoriaId</td>
            <td>@i.Categorias.CategoriaNome</td>
        </tr>
    }
</table>